*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.header{
    text-align: center
}

.header h3{
    text-transform: uppercase;
}

.header h1{
    margin-top: 30px;
    margin-bottom: 20px ;
    font-weight: lighter;
}

.header h1 span{
    font-weight: bold;
}

.header ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
}

.header ul li{
    list-style: none;
    margin-top: 10px;
}

.header ul li:nth-child(1) input{
    height: 40px;
    width: 300px;
    margin-right: 10px;
    border-radius: 30px;
    padding-left: 10px;

}

.header ul li:nth-child(2){
    background: #7195f5;
    height: 40px;
    width: 300px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li a{
    text-decoration: none;
    color: #fff;
}

/* Body */
.body{
    margin-top: 20px;
}


.body img{
    height: 300px;
    width: 300px;
}

/* Footer */
.footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 20px;
}

.footer ul li{
    margin-right: 40px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li:hover{
    background: #7195f5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: 1s;
}

@media(min-width:992px){
    .header ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .header ul li:nth-child(2){
        background: #7195f5;
        height: 40px;
        width: 150px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body img{
        height: 500px;
        width: 800px;
    }
}

